$icon_height: 20px;
$search_color: #9a9a9a;
$search_color_active: #000;

.search_input {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  width: 450px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: top 1s .5s, width .5s;

  &.animated {
    width: 60%;
    top: 40px;
    transition: top .5s, width .5s .5s;
  }

  .search_box {
    border-bottom: 4px solid $search_color;
    padding: 15px 20px;
    font-size: 16px;
    width: 100%;
    height: 40px;
    transition: border-bottom .5s, width .5s .5s;

    &:focus {
      border-bottom: 4px solid $search_color_active;

      & ~ .search_icon {
        color: $search_color_active;
      }
    }
  }

  .search_icon {
    color: $search_color;
    position: absolute;
    right: 5px;
    height: $icon_height;
    top: calc(50% - #{$icon_height}/2);
    transition: color .5s;
  }
}

.search_results {
  padding-top: 100px;
  max-width: 60%;
  margin: 0 auto;

  .search_result {
    & + .search_result {
      margin-top: 20px;
    }

    .sr_title {
      color: #58508e;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 10px;
      text-decoration: underline;
    }

    .sr_desc {
      font-size: 16px;
      color: #424242;
    }
  }

  .sr_empty_result {
    transition: opacity 1s .5s;

    &.hide {
      opacity: 0;
    }
  }
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  opacity: 0;
  position: absolute;
  top: 72px;
  margin: 0 auto;
  /*change font-size to resize spinner*/
  font-size: 2px;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 0, 0, 0.2);
  border-right: 1.1em solid rgba(0, 0, 0, 0.2);
  border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #393939;
  transform: translateZ(0);
  animation: loading-anim 1.1s infinite linear;

  &.show {
    transition: opacity .5s .2s;
    opacity: 1;
  }
}
@-webkit-keyframes loading-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
